<h1 id="login">Strona login</h1>
<div id="menu">
    <a href="./">main</a>
    <a href="register">register</a>
    <a href="login"> login</a>
    <a href="admin">admin</a>
</div>
<form method="post" action="/logged">
    <input type="text" id="logged" name="logged">login<br>
    <input type="password" id="pswd" name="pswd">password<br>
    <button id="bt2">submit</button>
</form>