<h1>Strona register</h1>
<div id="menu">
    <a href="./">main</a>
    <a href="register">register</a>
    <a href="login"> login</a>
    <a href="admin">admin</a>
</div>
<form action="./" method="post">
    <input type="text" id="login" name="login">login<br>
    <input type="password" id="password" name="password">password<br>
    <input type="number" min="0" max="115" id="wiek" name="wiek">wiek<br>
    <input type="checkbox" id="uczen" name="uczen">uczeń?<br>
    <input type="radio" id="pk" name="sex" value="k">kobieta
    <input type="radio" id="pm" name="sex" value="m">mężczyzna
    <input type="radio" id="pi" name="sex" value="i">innna<br>
    <button id="bt1">submit
</form>