<h1>Strona admin</h1>
<div id="menu">
    <a href="./">main</a>
    <a href="register">register</a>
    <a href="login"> login</a>
    <a href="admin">admin</a>
    <a href="logout">logout</a>
</div>
<div class="special">
    <a href="show">show</a>
    <a href="gender">gender</a>
    <a href="sort">sort</a>
</div>
<form onchange="this.submit()" class="special">
    <input type="radio" id="greater" name="sort" value="true">malejąco
    <input type="radio" id="lesser" name="sort" value="false">rosnąco
</form>